<div class="share-page">
  <span>Share this note:</span>
  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title | url_encode }}" target="_blank" rel="noopener noreferrer">X</a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  <a href="mailto:?subject={{ page.title | url_encode }}&body={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer">Email</a>
</div>
