---
layout: default
---
<article class="prose article-card">
  <header class="article-header">
    <p class="eyebrow">Work</p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="article-content">
    {{ content }}

    {% assign p_array = "" | split:"|" %}
    {% for project in site.project %}
      {% capture p_slug %}{{ project.url | split:"/" | last }},{{ project.url }}{% endcapture %}
      {% assign p_slug_arr = p_slug | split:"," %}
      {% assign p_array = p_array | push: p_slug_arr %}
    {% endfor %}

    {% include project_tags.html %}

    <div class="project-grid">
      {% for i in site.data.projects %}
        <article class="project-card project-item" data-tags='{{ i.tags | jsonify | downcase }}'>
          <a href="/static/projects/{{ i.image }}" class="project-image-link thickbox">
            <div class="project-img project-image bordered" style="background-image: url('/static/projects/{{ i.image }}');"></div>
          </a>

          {% assign p_url = nil %}
          {% for pr in p_array %}
            {% if pr contains i.slug %}
              {% assign p_url = pr[1] %}
            {% endif %}
          {% endfor %}

          {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}

          {% if p_url %}
            <h3 class="project-headlines"><a class="project-detail" href="{{ p_url }}">{{ i.name }}</a></h3>
          {% else %}
            <h3 class="project-headlines">{{ i.name }}</h3>
          {% endif %}

          <div class="project-content">
            <div class="tag-holder">
              {% if i.tags %}
                {% for j in i.tags %}
                  <span class="tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="project-footer">
            {% if i.url %}
              <a href="{{ i.url }}" class="project-link" target="_blank" rel="noopener noreferrer">Live</a>
            {% endif %}
            <span class="project-timeline">{{ i.date }}</span>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</article>
